*,
html {
    padding: 0px;
    margin: 0px;
    font-family: poppins;
}

.body-utama {
    background-color: #87CEEB;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.body-utama.loaded {
    opacity: 1;
}

/*=============================================================================================================================================*/
/*=================================================================NAV BAR=====================================================================*/
/*=============================================================================================================================================*/
header {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.nav-bar {
    background: radial-gradient(rgb(171, 216, 255), #ffffff);
    height: 5vh;
    font-size: 18px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.nav-isi {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
    transition: .2s ease-in-out;
    transition-delay: .1s;
}

.nav-isi:hover {
    text-decoration: none;
    background-color: #87CEEB;
    color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*=============================================================================================================================================*/
/*================================================================HOME PAGE====================================================================*/
/*=============================================================================================================================================*/
.home-bar {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-left: 100px;
    margin-right: 100px;
}

.home-img {
    height: 450px;
    width: 490px;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

.home-img:hover {
    height: 500px;
    width: 520px;
}

/*=============================================================================================================================================*/
/*===============================================================EXPLORE PAGE==================================================================*/
/*=============================================================================================================================================*/
.explore-bar {
    background-color: none;
    display: grid;
    height: 170vh;
    padding-top: 1vh;
    grid-template-columns: repeat(3, 2fr);
    font-size: 10px;
}

.explore-isi {
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    height: 80vh;
    transition: .3s ease;
    transition-delay: .1s;
}

.explore-isi:hover {
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    height: 80vh;
    box-shadow: -1px 5px 11px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 5px 11px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 5px 11px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.explore-isi-image {
    height: 120px;
    width: 120px;
    padding: 30px;
}

/*=============================================================================================================================================*/
/*===============================================================PROJECT PAGE==================================================================*/
/*=============================================================================================================================================*/

.project-body {
    background-color: none;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.project-isi {
    background-color: none;
    font-size: 33px;
    margin: 10px;
}

.project-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: none;
    padding: 20px;
}

.form-bar {
    background-color: none;
    width: 100%;
}

.contact-form {
    width: 100%;
}

.project-button {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.contact-form>label {
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-form>input,
.contact-form>textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    border: solid #2a2a2a;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: none;
}

.contact-form>input {
    height: 50px;
}

.contact-form>textarea {
    height: 150px;
}

.project-button>button {
    padding: 10px 20px;
    background-color: #48759a;
    color: white;
    border: none;
    width: 40%;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.3s ease;
    transition-delay: 0.2s;
}

.project-button>button:hover {
    padding: 10px 20px;
    background-color: #48759a;
    color: white;
    border: none;
    width: 50%;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
}


/*=============================================================================================================================================*/
/*==================================================================FOOTER=====================================================================*/
/*=============================================================================================================================================*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
}